
.proyectos, .departamentos {
    width: 100%;
    overflow-x: hidden;
    color: #fff;
    /* ocultar barra de scroll */
    scrollbar-width: none;
    -ms-overflow-style: none;

}
.proyectos h1, .departamentos h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.proyectos-card, .departamentos-card {
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 10px;

}

