.barra-lateral {
    background: rgb(34, 46, 65);
    position: sticky;
    top: 50px;
    z-index: 100;
    width: 20%;
    height: 75vh;
    margin-top: 50px;
}
.barra-lateral__container {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.barra-lateral__container li {
    font-size: 18px;
    color: #fff;
    cursor: pointer;    
    /* margin-bottom: 15px; */
}
.barra-lateral__container li:hover {
    display: block;
    background-color: #CDF938;
    color: rgb(8, 8, 8);
    transition: .4s;
    border-radius: 4px;
}
.formulario{
    width: 75%;
    height: auto;
    background: rgb(34, 46, 65);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    height: 42px;
    font-size: 18px;
    border: 0;
    padding: 54px;
    border-radius: 15px;
}



.mis-proyectos {
    width: 75%;
    /* height: auto; */
    max-height: 800px;
    min-height: 400px;
    background: rgb(34, 46, 65);
    color: #fff;
    border: 1px solid transparent;
    overflow-y: overlay;
    /* ocultar barra de navegacion */
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}
.mis-proyectos::-webkit-scrollbar {
    display: none;
}

.mis-proyectos .proyecto-container {
    display: inline-block;
    width: 94%;
    margin: 10px;
    border: #fff solid 1px;
    padding: 20px;
    /* border: 1px solid transparent; */
}
.botones-proyecto{
    height: 200px;
}
.titulo-proyectos {
    max-width: 290px;
}

.validado{
    background-color: #08e53c;
    padding: 4px;
    border-radius: 8px;
}
.no-validado{
    background-color: red;
    padding: 4px;
    border-radius: 8px;
}

.btn-completo {
    text-decoration: line-through;
}
.btn-completo:hover {
    text-decoration: line-through;
}

.progress-bar {
    transition: width 2s ease-in-out;
  }

 .disabled-btn {
    pointer-events: none;
    opacity: 0.4;
  }

.disabled-btn:hover {
        cursor: not-allowed;
  }

.enable {
    pointer-events: auto;
    opacity: 1;
  }
.enable:hover {
    cursor: pointer;
}